
#benefits div {
    color: #2F4B58;
    background-color: #ECECDE;
    width: 23%;
    height: 250px;
    float: left;
    padding-top: 35px;
    padding-left: 5px;
    margin: 2px;
    text-align: center;   
}
#benefits p {
    text-align: justify;
    margin: 20px;
}

#benefits-text {
    text-align: center;
    margin: 25px, 0;
    font-size: 280%;
    padding-top: 70px;
}


