
.left-about-container{
    width: 43%;
    height: 250px; 
    float: left;
    line-height: 20px;
    padding-left: 100px;
    padding-top: 80px;
    margin-bottom: 200px;
    clear: both; 
    color: #2F4B58;
    letter-spacing: 1px;
     
}

.left-about-container > p{
    margin-bottom: 30px;
}

#kefir-image-area{
    padding-top: 60px;
    width: 45%;
    float:right;
    margin: 0 10px;
    
}

#welcome-text {
    text-align: center;
    margin: 25px, 0;
    font-size: 280%;
    padding-top: 70px;
}

#whats-kefir-image{
    height: 360px;
    width: 360px;
    border-radius: 50%;
    padding: 15px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    margin: 0 auto;
}

#kefir-image{
    background: url(../../images/milk-products-dairy.jpg) no-repeat center center;
    background-size: 600px;
    height: 100%;
    border-radius: 50%;
}